# Ignorar dependencias
node_modules/

# Ignorar archivos de entorno (por si los usás en el futuro)
.env

# Ignorar logs
*.log

# Ignorar archivos del sistema
.DS_Store
Thumbs.db

# Ignorar configuraciones de editores
.vscode/
.idea/